:root>* {

    --md-default-bg-color: rgb(255,255,255);
    --md-footer-bg-color: white;
    --md-footer-fg-color: rgb(32, 32, 32);
    --md-footer-bg-color--dark: white;
    --md-footer-fg-color--lighter:  rgb(32, 32, 32);
    --md-footer-fg-color--light:  rgb(32, 32, 32);
    --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
    --mdc-typography-font-family: 'Be Vietnam', sans-serif;
    --md-typeset-a-color:  rgb(48, 35, 235);


}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
    font-size: 14px;
  }

.cardContent {
  padding: 14px;
  font-size: 14px;
  color: rgb(48, 35, 235);
}

.md-typeset h1 {
    color: rgb(48, 35, 235);
    font-size: 20px;
    font-weight: 500;
}

.md-typeset h2 {
    font-weight: 500;
    font-size: 18px
}

.md-typeset h3 {
    font-weight: 500;
    font-size: 16px
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

.mdc-typography--body {
    font-weight: 300;
    font-size: 14px;
}
